.landing-card { 
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 50vw;
    border-radius: 10px;      
    box-sizing: border-box;
    margin-bottom: 20px;
}

/* Stack the cards vertically */
.cards-container {
    display: flex;
    flex-direction: column;
    width: 100%; 
}

/* Ensure left and right positioning works */
.card-left {
    align-self: flex-start; /* Move to the left */
}

.card-right {
    align-self: flex-end; /* Move to the right */
}

.landing-card img {
    max-width: 400px;      
    margin-right: 20px; 
    border-radius: 10px;  
}

.description {
    display: inline-block;
    font-size: 2vw;
    line-height: 24pt;
    color: #e1e1e1;           
}