.card-left { 
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 90%;
    border-radius: 10px;      
    box-sizing: border-box;
    margin-bottom: 40px;
    align-self: flex-start; /* Move to the left */
}

.card-right { 
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    width: 90%;
    border-radius: 10px;      
    box-sizing: border-box;
    margin-bottom: 40px;
    align-self: flex-end; /* Move to the right */
}

/* Stack the cards vertically */
.cards-container {
    display: flex;
    flex-direction: column;
    width: 100%; 
}

.landing-card img {
    max-width: 55%;      
    margin-right: 20px; 
    border-radius: 10px;  
}

.description {
    display: inline-block;
    font-size: 4vw;
    line-height: 48pt;
    color: #e1e1e1;           
}